
<!-- <a routerLink="/nodes">Nodes</a> -->

<nav class="navbar navbar-default" style="color:white;background-color:#4c88e8;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
              <img src="assets\header-logo.svg" class="logo">
            </a>            
        </div>
        <ul class="nav navbar-nav">
            <li><a routerLink="/login">Login</a></li>
            <li class="dropdown" dropdown> <!-- {1} -->
                <a dropdownToggle role="button"> <!-- {2} -->
                  Request <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
                    <li role="separator" class="divider"></li>
                    <li>
						<a routerLink="/nodes">Nodes From Dtutor</a>
					</li>
                    <li role="separator" class="divider"></li>
                    <li>
						<a routerLink="/users">Users From Dtutor</a>
					</li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<router-outlet></router-outlet>

<!-- <footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright © Your Website 2017</p>
  </div>  
</footer> -->